.header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rebeccapurple;
}
body {
    background-color: lemonchiffon;
}
p {
    font-family: 'Times New Roman', Times, serif;
    color: rebeccapurple;

}